@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

/* Global styles */
body, html {
   font-family: 'Open Sans', sans-serif;
   margin: 0;
   padding: 0;
   height: 100%;
   direction: rtl;
}

.hello {
   color: #5a6266;
  text-shadow: 2px 2px 4px rgba(4, 92, 92, 0.5);
  font-family: 'Arial', sans-serif;
  font-size: 2.5rem;
  transform: skew(-10deg);
  margin-right: 0.5vw;
  direction: rtl;
  margin-top: 1.3vh;
}

.containerMain {
   width: 80%;
   margin: 0 auto;
   margin-bottom: 5vh;
}

.containerSearchBox {
   display: flex;
   align-items: center;
   justify-content: center;
  
}

.searchBarAdmin {
   font-family: 'Open Sans', sans-serif;
   width: 20%;
   padding: 8px;
   text-align: center;
   font-size: 1vw;
   font-weight: bold;
   border: none;
   border-radius: 1vw;
   box-shadow: 0 0.8vw 1.6vw 0 rgba(0, 0, 0, 0.2), 0 0.6vw 2vw 0 rgba(0, 0, 0, 0.19);
   margin-bottom: 1%;
   height: 5vh;
}

.AdminBtn1 {
   margin-right: 1%;
   margin-bottom: 1%;
   font-family: 'Open Sans', sans-serif;
   width: 7%;
   font-size: 1vw;
   height: 5vh;
   background-color: #a4d65e;
   color: #ffffff;
   border: none;
   cursor: pointer;
   border-radius: 2.5vw;
   color: black;
   font-weight: bold;
   
}

.AdminBtn2 {
  width: 25%;
  font-size: 1.6vw;
  background-color: #a4d65e;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-style: italic;
  margin: 1.5%;
  border-radius: 2.5vw;
  color: black;
}

.Headline {
   font-weight: bold;
   text-align: center;
   color: black;
}

.user-list-container {

   overflow-y: auto;
}

.user-list-container::-webkit-scrollbar {
   width: 0.8vw;
}

.user-list-container::-webkit-scrollbar-track {
   background-color: #f1f1f1;
}

.user-list-container::-webkit-scrollbar-thumb {
   background-color: #a4d65e;
   border-radius: 0.4vw;
}

.user-list-container::-webkit-scrollbar-thumb:hover {
   background-color: #6f9443;
}

.user-list {
   height: 58vh;

}

.user-list-item {
   margin-bottom: 1%;
   padding: 1%;
   background-color: #f1f1f1;
   border-radius: 0.5vw;
   border: 0vw solid #cccccc; /* Add a thick border */
}

.user-list-item:last-child {
   margin-bottom: 0;
}

.user-list-item:hover {
   background-color: #e3e3e3;
   cursor: pointer;
}

#mangeBtn{
   margin-top: 3vh;
   display: flex;
}

.displayBtn {
   margin-top: 0%;
}
#btn12{
margin-bottom: 1%;
font-size: 1.7vh;
 background-color: #a4d65e;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 2vh;
  cursor: pointer;
  margin-right: 2vh;
  padding: 1vh 2vw;
}
/* Add any additional styling as per your preference */
