/* CSS for Signup and Login Pages */

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  
  .container {
    width: 400px; /* Adjust the width to your desired size */
    margin: 0 auto;
    margin-top: 10vh; /* Adjust the margin-top to position the container vertically */
    padding: 20px;
    background-color: gray;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  
  /* Form styles */
  form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  label{
    text-align: center;
  }
  
  input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .error-message {
    color: red;
    margin-bottom: 10px;
  }
  
  .success-message {
    color: green;
    margin-bottom: 10px;
  }
  
  /* Link styles */
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  h1,p{
    text-align: center;
  }