/* MedicalStaffDashboard.css */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

/* Global styles */
body,
html {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

.container-SearchBox {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.results{
  direction: rtl;
}

.hello-doctor {
  margin-top: 6vh;
  text-align: center;
  font-size: 2.5vw;
}

.searchBar {
  width: 30vw;
  height: 5vh;
  margin-top: 6vh;
  text-align: center;
  margin-bottom: 3vh;
  padding: 0.5vh;
  outline: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  font-size: 2vh;
  border: none;
  border-radius: 2vh;
  cursor: pointer;
  font-weight: bolder;
}

.search-Bar {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.searchBarBtn {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  width: 12vw;
  height: 5vh;
  font-size: 2vh;
  background-color: #b9f06a;
  font-weight: bold;
  color: black;
  border: none;
  border-radius: 2vh;
  cursor: pointer;
  margin-top: 6vh;
  margin-right: 3vw;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchBarBtn:hover {
  background-color: #b9f06a;
}

.patient-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 3vh;
  padding: 1.5rem;
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  height: 60vh;
  width: 80vw;
  overflow: auto;
  direction: rtl;
  margin-right: 10vw;
  
}

.patient-detail {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  width: 50%;
}

.detail-label {
  font-weight: bold;
  margin-right: 1rem;
  color: #101010;
  padding: 0.5rem 1rem;
  width: 25%;
}

.detail-value {
  font-weight: normal;
  background-color: #fefefe;
  padding: 0.5rem 1rem;
  border-radius: 2vh;
  width: 45%;
}

/* Scrollbar styles */
.patient-details::-webkit-scrollbar {
  width: 0.8vw;
}

.patient-details::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 0.4vw;
}

.patient-details::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0);
  border-radius: 0.4vw;
}

.patient-details::-webkit-scrollbar-thumb:hover {
  background-color: #585a56;
}

/* Scrollbar buttons */
.patient-details::-webkit-scrollbar-button {
  display: none; /* Hide the default buttons */
}

/* Scrollbar arrows */
.patient-details::-webkit-scrollbar-corner {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%235a7750' viewBox='0 0 24 24'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 60%; /* Adjust the size as needed */
}

.patient-details::-webkit-scrollbar-corner:vertical:active,
.patient-details::-webkit-scrollbar-corner:vertical:hover {
  background-color: #585a56; /* Change color on hover or active state */
}

.patient-details::-webkit-scrollbar-corner:horizontal {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%235a7750' viewBox='0 0 24 24'%3E%3Cpath d='M14 7l-5 5 5 5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 60%; /* Adjust the size as needed */
  transform: rotate(180deg); /* Rotate the arrow for scroll down */
}

.patient-details::-webkit-scrollbar-corner:horizontal:active,
.patient-details::-webkit-scrollbar-corner:horizontal:hover {
  background-color: #585a56; /* Change color on hover or active state */
}

/* Adjustments for smaller screens */
@media screen and (max-width: 600px) {
  .patient-details {
    display: flex;
    
  }

  .patient-detail {
    width: 100%;
  }

  .searchBarBtn {
    width: 25vw;
    font-size: 3vw;
  }

  .popup {
    max-width: 90vw;
    max-height: 90vh;
    padding: 10px;
  }
  .beautyHeadLine {
    margin-top: 10vh;
  }
}

.beautyHeadLine {
  color: #5a6266;
  text-shadow: 2px 2px 4px rgba(4, 92, 92, 0.5);
  font-family: 'Arial', sans-serif;
  font-size: 2.5rem;
  margin-right: 0.5vw;
  direction: rtl;
}

.Buttones {
  display: flex;
  justify-content: center;
  margin-top: 2vh;
}

.smaller-btn {
  margin: 0 1vw;
  padding: 1vh 2vw;
  font-size: 1.7vh;
  background-color: #b9f06a;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 2vh;
  cursor: pointer;
}

.smaller-btn:hover {
  background-color: #b9f06a;
}

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  border: none;
  padding: auto;
}

.popup {
  background-color: white;
  display: flex;
  padding: 1vh;
  border-radius: 1vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 80vw;
  max-height: 80vh;
  overflow-y: auto;
  border: none;
}

.close-button {
  font-weight: bold;
  color: red;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  box-shadow: #101010;
  border: none;
  margin-bottom: 20vh;
}

#uniqe {
  margin-right: 10vw;
}

.Medicines{
  width: 100vw;
}
