.logout-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 20px;
  background-color: #000000;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 0.5vh;
  margin-right: 5vw;
  position: fixed;
  top: 0.5vh;
  left: 0.5vw;
  
}

.logout-button svg {
  width: 2rem;
  height: 2.5rem;
  fill: #ffffff;
}

.logout-button:hover {
  background-color: #333333;
}

